force-app/main/default/flows/Clean_Phone_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Contact_and_Leads_Phone_Numbers_APEX</name>
        <label>Check Contact and Leads Phone Numbers APEX</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>CheckExistingPhoneNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_the_Phone_a_match</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>myPhoneNumbers</name>
            <value>
                <elementReference>CleanPhoneFormula</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>contOwnerName</assignToReference>
            <name>contOwnerName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isContact</assignToReference>
            <name>isContact</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isLead</assignToReference>
            <name>isLead</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>leadOwnerName</assignToReference>
            <name>leadOwnerName</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_the_Phone_a_match</name>
        <label>Is the Phone a match?</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>No_Matching_Number_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Match_on_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_On_Contact_Screen</targetReference>
            </connector>
            <label>Match on Contact</label>
        </rules>
        <rules>
            <name>Match_on_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_on_Lead_Screen</targetReference>
            </connector>
            <label>Match on Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CleanPhoneFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!PhoneValidation.value}, &quot;(&quot;,&quot;&quot;), &quot;)&quot;,&quot;&quot;), &quot;-&quot;,&quot;&quot;), &quot;+1&quot;,&quot;&quot;), &quot; &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Clean Phone Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clean Phone Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Match_On_Contact_Screen</name>
        <label>Match On Contact</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>match11</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 6, 6);&quot;&gt;WARNING! &lt;/strong&gt;Match found please do not pursue&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There is an existing contact with that same phone number, owned by {!contOwnerName}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Match_on_Lead_Screen</name>
        <label>Match on Lead</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>matchleadResult</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 6, 6);&quot;&gt;WARNING! &lt;/strong&gt;Match found please do not pursue&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There is an existing Lead with that same phone number, owned by {!leadOwnerName}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Matching_Number_Found</name>
        <label>No Matching Number Found</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ValidPhone</name>
            <fieldText>&lt;p&gt;No match found please proceed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Phone_Number_Validation</name>
        <label>Phone Number Validation</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Contact_and_Leads_Phone_Numbers_APEX</targetReference>
        </connector>
        <fields>
            <name>PhoneValidation</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone Number to be Validated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>1234567890</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Phone_Number_Validation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isLead</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
