force-app/main/default/flows/Lead_Owner_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>TriggerCheck</name>
        <label>TriggerCheck</label>
        <locationX>749</locationX>
        <locationY>174</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conditions_Meet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggerCheckPoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLeadStatus</targetReference>
            </connector>
            <label>Conditions Meet</label>
        </rules>
    </decisions>
    <formulas>
        <name>TriggerCheckPoint</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!$Record.Status}),
ISPICKVAL({!$Record.Status}, &apos;Not interested&apos;),
{!$Record.Owner:Group.Id} == {!GroupId}
)</expression>
    </formulas>
    <interviewLabel>Lead Owner Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Owner Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetGroupId</name>
        <label>GetGroupId</label>
        <locationX>507</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLeadQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead Cooler</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetLeadQueue</name>
        <label>GetLeadQueue</label>
        <locationX>610</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TriggerCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QueueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>QueueSobject</object>
        <outputAssignments>
            <assignToReference>LeadQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLeadStatus</name>
        <label>UpdateLeadStatus</label>
        <locationX>1062</locationX>
        <locationY>153</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>GetGroupId</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewLeadOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewLeadStatusValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OldLeadStatusValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OldOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
