force-app/main/default/flows/New_Opp_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Update_Count_on_Main_OPP</name>
        <label>Update Count on Main OPP</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PP_Parent_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PP_Parent_Opportunity_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_OPP_NAME1</targetReference>
            </connector>
            <label>PP Parent Opp</label>
        </rules>
        <rules>
            <name>Renewal_Parent_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Parent_Opportunity_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_OPP_NAME2</targetReference>
            </connector>
            <label>Renewal Parent Opp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OppCount1</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!$Record.PP_Parent_Opportunity__r.Child_PP_Parent_Opp_Count_1__c}),1,{!$Record.PP_Parent_Opportunity__r.Child_PP_Parent_Opp_Count_1__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OppCount2</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!$Record.Renewal_Parent_Opportunity__r.Child_Renewal_Parent_OppCount_1pCount_1__c}),1,{!$Record.Renewal_Parent_Opportunity__r.Child_Renewal_Parent_OppCount_1pCount_1__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OppName1</name>
        <dataType>String</dataType>
        <expression>{!$Record.PP_Parent_Opportunity__r.Name}+&quot; - Block &quot;+TEXT({!OppCount1})</expression>
    </formulas>
    <formulas>
        <name>OppName2</name>
        <dataType>String</dataType>
        <expression>{!$Record.Renewal_Parent_Opportunity__r.Name}+&quot; - Renewal &quot;</expression>
    </formulas>
    <interviewLabel>New Opp Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Opp Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UPDATE_OPP_NAME1</name>
        <label>UPDATE OPP NAME1</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Parent_Opp_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_OPP_NAME2</name>
        <label>UPDATE OPP NAME2</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Parent_Opp_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Opp_1</name>
        <label>Update Parent Opp-1</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PP_Parent_Opportunity_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Child_PP_Parent_Opp_Count_1__c</field>
            <value>
                <elementReference>OppCount1</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Opp_2</name>
        <label>Update Parent Opp-2</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Renewal_Parent_Opportunity_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Child_Renewal_Parent_OppCount_1pCount_1__c</field>
            <value>
                <elementReference>OppCount2</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Count_on_Main_OPP</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>PP_Parent_Opportunity_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_Parent_Opportunity_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Addcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
