force-app/main/default/flows/OpportunityUpdateTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>record</name>
        <label>record</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Names</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>amendement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AmendmentReason</targetReference>
            </connector>
            <label>Records</label>
        </rules>
    </decisions>
    <interviewLabel>OpportunityUpdateTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityUpdateTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AmendmentReason</name>
        <label>Amendment</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Names</targetReference>
        </connector>
        <object>Opportunity</object>
        <outputReference>$Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amendment_reason__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Names</name>
        <label>Update Opportunity Names</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AmendmentReason</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>record</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>amendement</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
